<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/jquery.md5.js"></script>
    <script src="/static/js/jquery.ajax.csrf.js"></script>
    <title>更改密码</title>
    <script>
        $(document).ready(function () {
            $("#btnSubmit").click(function () {
                if (isVerify()) {
                    changePasswordAjax();
                }
            });

            $("form").keydown(function (event) {
                if (event.which === 13 && isVerify()) {
                    changePasswordAjax();
                }
            });

            function isVerify() {
                if ($("#password").val().trim().length === 0) {
                    $("#password").focus();
                    alert("请输入密码！");
                    return false;
                }
                if ($("#password").val().length != $("#password").val().trim().length) {
                    $("#password").focus();
                    alert("密码不能含有空格！");
                    return false;
                }
                if ($("#new_password").val().trim().length === 0) {
                    $("#new_password").focus();
                    alert("请输入新密码！");
                    return false;
                }
                if ($("#new_password").val().length != $("#new_password").val().trim().length) {
                    $("#new_password").focus();
                    alert("密码不能含有空格！");
                    return false;
                }
                if ($("#re_new_password").val().trim().length === 0) {
                    $("#re_new_password").focus();
                    alert("请再次输入新密码！");
                    return false;
                }
                if ($("#new_password").val().trim() != $("#re_new_password").val().trim()) {
                    $("#re_new_password").focus();
                    alert("两次新密码输入不一致！");
                    return false;
                }
                return true;
            }

            function changePasswordAjax() {
                $.ajax(
                    {
                        url: "/user/setpassword",
                        data: {
                            password: $.md5($("#password").val()),
                            newPassword: $.md5($("#new_password").val())
                        },
                        type: "post",
                        dataType: "json",
                        async: true,
                        success: function (data) {
                            if (data.state === '0') {
                                window.location.pathname = '/';
                            } else {
                                alert(data.info + '   [' + data.state + ']');
                            }
                        },
                        error: function () {
                            alert("ajax error")
                        }
                    });
            }
        });
    </script>
</head>
<body>
<div class="jumbotron">
    <h2 class="text-center">更改密码</h2>
</div>
<br/>
<form action="" method="post"
      class="col-xs-10 col-sm-6 col-md-4 col-lg-4 col-xs-offset-2 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">

    <br/>
    <div class="input-group">
        <span class="input-group-addon">密码</span>
        <input type="password" maxlength="255" class="form-control" placeholder="Password" name="password" id="password"/>
    </div>
    <br/>
    <div class="input-group">
        <span class="input-group-addon">新密码</span>
        <input type="password" maxlength="255" class="form-control" placeholder="New password" name="new_password" id="new_password"/>
    </div>
    <br/>
    <div class="input-group">
        <span class="input-group-addon">确认密码</span>
        <input type="password" maxlength="255" class="form-control" placeholder="New password" name="re_new_password" id="re_new_password"/>
    </div>
    <br/>
    <button type="button" class="btn btn-success btn-lg center-block" id="btnSubmit">确定</button>
    <br/>
</form>
</body>
</html>